.blur-effect {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* .hidediv {
    border-color:#d9d9e3;
    
    padding: 10px;
    margin: 10px;
    display: inline-block;
   

}

.hidediv:hover{
    cursor:pointer;
    
} */

.focussed:focus{
    border: 2px solid #28a47a
}
select:focus {
    outline: none;
}
no-focus-style:focus{
    outline: none;
        border-color: #999;
}

active{
   background: blue;
}

#new_topic_suggestion:hover{
    cursor:pointer
}

/* .prompt_ai_logo:hover{
    cursor:pointer
} */
.sidebar_top_links{
    display: flex;
        margin-left: 49px;
        margin-top:15px;
        align-items:center;
        border-radius:15px;
        height:10%;
       
}

.sidebar_bottom_links{
    display: flex;
        margin-left: 1px;
        margin-top: 15px;
        align-items: center;
        border-radius: 15px;
        height: 55px
        
}
.prompt_active{
    height: 50px;
        width: 180px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background: green;
}

#next_page:hover{
    cursor:pointer;
}

.change_background_color_of_all_children *{
    background: black !important;
}


/* @media screen and ( min-width : 2732px ) {
    .text_area_to_center{
       margin-left:60% !important
    }
    
}
@media screen and (max-width : 1520px) {
    .text_area_to_center {
        margin-left: 28% !important
    }

}
@media screen and (max-width : 1093px) {
    .text_area_to_center {
        margin-left: 11% !important
    }

} */

/* @media screen and (max-width:1366px){
    #upper_side_menu_content{
        height:48% !important
    }
} */


/* @media screen and (min-width:2732px) {
    #upper_side_menu_content {
            height: 16% !important
        }
    
} */


@media screen and (max-width:1517px) {
    #custom_gpt_mode_div {
        margin: left 38% !important
    }

}
@media screen and (max-width:1366px) {
    #custom_gpt_mode_div {
        margin: left 37% !important
    }

}
/* @media screen and (min-width:4098px) {
    #custom_gpt_mode_div {
        margin-left: 6%
    }

} */

/* @media screen and (min-width:2732px) {
    .custom_nav {
        height: 80% !important
    }

}

@media screen and (min-width:4098px) {
    #new_chat_div {
        margin-top:121px !important;
        
    }

} */



.version_switcher {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 14px;
    padding: 7px;
    margin-right: 125px;
}
.switches-container {
    width: 190px;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 14px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}
.gtp_4:hover .version_info {
    opacity: 1;
    visibility: visible;
    margin-top: 25px;
}

 .version_info {
     background: #0C110F;
     box-shadow: 31px -8px 38px rgba(0, 0, 0, 0.8);
     border-radius: 14px;
     width: 240px;
     padding: 20px;
     text-align: left;
     position: absolute;
     right: -40px;
     transition: .100s;
     top: 100%;
     margin-top: 35px;
     opacity: 0;
     visibility: hidden;
     z-index: 100000;
 }

 .gtp_4:hover .version_info {
     opacity: 1;
     visibility: visible;
     margin-top: 25px;
 }

 .version_info:after {
     clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
     width: 20px;
     height: 20px;
     background: #0c110f;
     content: '';
     position: absolute;
     right: 80px;
     top: -15px;
 }

 .version_info p {
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
     color: #FFFFFF;
     margin: 0;
 }

 .version_info span {
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 12px;
     color: #FFFFFF;
     opacity: 0.5;
 }

 .version_info ul {
     margin: 0;
     padding: 0;
     list-style: none;
     background: rgba(255, 255, 255, 0.03);
     border-radius: 14px;
     padding: 15px;
     margin-top: 5px;
 }

 .version_info ul li {
     display: block;
     margin: 5px 0;
 }

 .version_info ul li a {
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
     color: #FFFFFF;
     display: flex;
     width: 100%;
     align-items: center;
     padding: 10px 0;
 }

 .version_info ul li a img {
     margin-right: 10px;
 }
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}
.switches-container {
    width: 190px;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 14px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}
/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    position: relative;
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch-wrapper .switch {
    border-radius: 3rem;
    background: #00C28C;
    box-shadow: 31px -8px 38px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch-wrapper .switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #fff;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}


.prompt-card {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 35px;
    padding: 22px;
    margin-bottom: 20px;
    transition: .3s;
}

.prompt-card:hover {
    background: rgba(0, 194, 140, 0.1);
}
.prompt-user{
    display:flex;
    align-items: center;
    color: #FFFFFF
}

.prompt-user a img {
    width: 30px;
    border-radius: 100%;
}

.prompt-user a {
    display: flex;
    align-items: center;
    color: #FFFFFF
}

.prompt-user-text {
    padding-left: 15px;
}

.prompt-user-text h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 3px;
}

.prompt-user-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
    letter-spacing: .3px;
}

.prompt-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.save_toggle button {
    display: inline-block;
    transition: .3s;
    color: #fff;
    border: none;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    line-height: 22px;
}

.save_btn img {
    width: 12px;
    position: relative;
    top: -1px;
}

.save_toggle button.active {
    background: #00C28C;
}

.save_btn:hover {
    background: #00C28C !important;
}

.save_btn_active{
    background: #00C28C !important;
}

.prompt-content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00C28C;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prompt-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.prompt-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prompt--description {
    height: 180px;
    padding-top: 35px;
}

.prompt-card-bottom a {
    display: inline-flex;
    padding: 10px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: .2s;
    text-decoration:none;
    border-radius: 15px;
    align-items: center;
}
.focus_title{
    top: -7px !important;
    background: black

}
.colorized-image{
    filter: brightness(0) invert(1);
}

.filtered_black_color{
    filter: brightness(0)
}

#Favourite:hover{
    background: rgba(14, 110, 255, 0.1)
}
#publicbutton:hover{
        background: rgba(255, 200, 5, 0.1);
}

#ownbutton:hover{
    background: #0effe21f
}

.active_searchbar{
    width:420px !important;
    visibility: visible !important;
    height:55px !important;
    transition:0.3s !important; 
}





@media screen and (max-width:1093px) {
    .active_searchbar {
        right: 18% !important;

    }
}
@media screen and (max-width:1242px) {
    .active_searchbar {
        right: 17% !important;

    }
}
@media screen and (min-width:1707px) {
    .active_searchbar {
        right: 13% !important;
   
    }
}
@media screen and (min-width:1821.33px) {
    .active_searchbar {
        right: 13% !important;
        position: absolute !important;
    }
}




@media screen and (min-width:2049px) {
    .active_searchbar {
        right: 12% !important;
        position: absolute !important;
    }
}
@media screen and (min-width:2732px) {
    .active_searchbar {
        right: 10% !important;
        top: 1.5% !important;
        position: absolute !important;
    }
}
@media screen and (min-width:4098px) {
    .active_searchbar {
        right: 8.5% !important;
        top: 1.8% !important;
    }
}
@media screen and (min-width:5464px) {
    .active_searchbar {
        right: 7.5% !important;
            top: 1.8% !important;
    }
}


#searchbar:focus{
    border-color:#00C28C !important
}
#searchbar:focus-visible{
   border: 1px solid #00C28C !important
}
.focused_border{
    border-color: #00C28C !important;
}

#continue_to_prompt_screen_2:hover{
    background-color: #00C28C !important
}

#continue_to_prompt_screen_3:hover{
    background-color:#00C28C !important
}
#continue_to_prompt_screen_8:hover {
    background-color: #00C28C !important
}
#continue_to_prompt_screen_7:hover {
    background-color: #00C28C !important
}
#continue_to_prompt_screen_6:hover {
    background-color: #00C28C !important
}
#join_wishlist_button:hover{
    background-color:#00C28C !important;
    color:white !important;
}

#save_suggestion:hover{
background-color: #00C28C !important
}
#prompt_stacking_div_2:hover{
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background: #111e1a;
}
#prompt_stacking_div_3:hover{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #111e1a;
}
#prompt_stacking_div_1:hover{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #111e1a;

}
#clear_prompt_div:hover{
background-color: #00C28C !important
}
#promptbtn:hover{
    background-color: transparent !important;
        color: #00C28C !important;
        border-color: #00c08b !important;
        border: 2px solid #00c08b ;
}
#default_mode:hover{
    background:rgba(0, 194, 140, 0.1);
    border-radius:15px
}

#browser_mode:hover {
    background: rgba(0, 194, 140, 0.1);
    border-radius: 15px
}

#plugins_mode:hover{
    background: rgba(0, 194, 140, 0.1);
    border-radius: 15px
}
.hover_category_items:hover{
    background-color: #00C28C !important;
    
}