.blur-effect {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.hidediv {
    border-color:#d9d9e3;
    
    padding: 10px;
    margin: 10px;
    display: inline-block;
   

}

.hidediv:hover{
    cursor:pointer;
    
}

.focussed:focus{
    border: 2px solid #28a47a
}
select:focus {
    outline: none;
}
no-focus-style:focus{
    outline: none;
        border-color: #999;
}

active{
   background: blue;
}

#new_topic_suggestion:hover{
    cursor:pointer
}
.create_new_prompt_btn:hover{
    border :1px solid #999
}
/* .prompt_ai_logo:hover{
    cursor:pointer
} */
.sidebar_top_links{
    display: flex;
        margin-left: 49px;
        margin-top:15px;
        align-items:center;
        border-radius:15px;
        height:10%;
       
}

.sidebar_bottom_links{
    display: flex;
        margin-left: 1px;
        margin-top: 15px;
        align-items: center;
        border-radius: 15px;
        height: 55px
        
}
.prompt_active{
    height: 50px;
        width: 180px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background: green;
}

#next_page:hover{
    cursor:pointer;
}

.change_background_color_of_all_children *{
    background: black !important;
}

@media screen and ( min-width : 2732px ) {
    .text_area_to_center{
       margin-left:60% !important
    }
    
}

/* @media screen and (max-width:1366px){
    #upper_side_menu_content{
        height:48% !important
    }
} */


/* @media screen and (min-width:2732px) {
    #upper_side_menu_content {
            height: 16% !important
        }
    
} */


@media screen and (max-width:1517px) {
    #custom_gpt_mode_div {
        margin: left 38% !important
    }

}
@media screen and (max-width:1366px) {
    #custom_gpt_mode_div {
        margin: left 37% !important
    }

}
/* @media screen and (min-width:4098px) {
    #custom_gpt_mode_div {
        margin-left: 6%
    }

} */

/* @media screen and (min-width:2732px) {
    .custom_nav {
        height: 80% !important
    }

}

@media screen and (min-width:4098px) {
    #new_chat_div {
        margin-top:121px !important;
        
    }

} */



.version_switcher {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 14px;
    padding: 7px;
    margin-right: 125px;
}
.switches-container {
    width: 190px;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 14px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}
.gtp_4:hover .version_info {
    opacity: 1;
    visibility: visible;
    margin-top: 25px;
}

 .version_info {
     background: #0C110F;
     box-shadow: 31px -8px 38px rgba(0, 0, 0, 0.8);
     border-radius: 14px;
     width: 240px;
     padding: 20px;
     text-align: left;
     position: absolute;
     right: -40px;
     transition: .100s;
     top: 100%;
     margin-top: 35px;
     opacity: 0;
     visibility: hidden;
     z-index: 100000;
 }

 .gtp_4:hover .version_info {
     opacity: 1;
     visibility: visible;
     margin-top: 25px;
 }

 .version_info:after {
     clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
     width: 20px;
     height: 20px;
     background: #0c110f;
     content: '';
     position: absolute;
     right: 80px;
     top: -15px;
 }

 .version_info p {
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
     color: #FFFFFF;
     margin: 0;
 }

 .version_info span {
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 12px;
     color: #FFFFFF;
     opacity: 0.5;
 }

 .version_info ul {
     margin: 0;
     padding: 0;
     list-style: none;
     background: rgba(255, 255, 255, 0.03);
     border-radius: 14px;
     padding: 15px;
     margin-top: 5px;
 }

 .version_info ul li {
     display: block;
     margin: 5px 0;
 }

 .version_info ul li a {
     font-style: normal;
     font-weight: 500;
     font-size: 13px;
     line-height: 15px;
     color: #FFFFFF;
     display: flex;
     width: 100%;
     align-items: center;
     padding: 10px 0;
 }

 .version_info ul li a img {
     margin-right: 10px;
 }
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}
.switches-container {
    width: 190px;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 14px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}
/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    position: relative;
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch-wrapper .switch {
    border-radius: 3rem;
    background: #00C28C;
    box-shadow: 31px -8px 38px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch-wrapper .switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #fff;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}
